<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../meta/index', { title: "Settings" }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <div class="text-center p-3">
        <h1 class="text-3xl font-bold w-fit m-auto align-middle text-center flex">User Settings: <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-sliders2 ml-2 mt-1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5ZM12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5ZM1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8Zm9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5Zm1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/></svg></h1>

        <div class="my-4"></div>
        <div class="w-fit p-4 m-auto flex flex-wrap gap-2">
            <form id="emailchange-form" class="border-2 border-black rounded-lg w-fit m-auto p-4">
                <h4 class="align-middle font-bold mb-3">Change E-Mail Address</h4>
                <div id="error" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label break-words w-fit m-auto">Current E-Mail</label>
                    <div class="col-sm-25">
                      <input type="email" class="form-control w-fit m-auto" id="staticEmail" name="currentEmail_vr" placeholder="Current E-Mail address" autocomplete="off">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label break-words w-fit m-auto">New E-Mail</label>
                    <div class="col-sm-25">
                      <input type="email" class="form-control w-fit m-auto" id="inputPassword" name="newEmail_vr" placeholder="New E-Mail address" autocomplete="off">
                    </div>
                </div>
                <button id="settings-BTN" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit">Change E-Mail</button>
            </form>
            <form id="passchange-form" class="border-2 border-black rounded-lg w-fit m-auto p-4">
                <h4 class="align-middle font-bold mb-3">Change Password</h4>
                <div id="errorP" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label break-words w-fit m-auto">Current Password</label>
                    <div class="col-sm-25">
                      <input type="password" class="form-control w-fit m-auto" id="staticEmail" name="currentPass_vr" placeholder="Current Password" autocomplete="off">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label break-words w-fit m-auto">New Password</label>
                    <div class="col-sm-25">
                      <input type="password" class="form-control w-fit m-auto" id="inputPassword" name="newPass_vr" placeholder="New Password" autocomplete="off">
                    </div>
                </div>
                <button id="settingsPass-BTN" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit">Change Password</button>
            </form>
        </div>
        <hr style="height: 4.5px;" class="rounded w-1/2 m-auto mb-4">
        <div class="w-fit p-4 m-auto flex flex-wrap gap-2"><% if (!acc.TFA) {%>
            <button class="btn btn-primary align-middle h-min w-min m-auto" data-bs-toggle="modal" data-bs-target="#tfa">Add 2FA <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></button>
            <form id="2fa-form">
              <div class="modal fade" id="tfa" tabindex="-1" aria-labelledby="tfaModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="tfaModalLabel">Add 2FA <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                    <div id="error2fa" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 90%; margin: auto;">
                              <div><img src="/api/account/create_auth" class="transition duration-700 hover:shadow-xl m-auto blur-md hover:blur-none" draggable="false"></div>
                              <div class="my-3"></div>
                              <input type="text" class="form-control focus:ring-3 focus:ring-[#5050e4]" id="oauth2" placeholder="Google Authenticator" name="OAuth" autocomplete="off" maxlength="6" required>
                              <div class="my-1"></div>
                              <svg width="98px" id="2faLoading" class="hidden" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                  <path fill="currentColor" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                                      <animateTransform 
                                        attributeName="transform" 
                                        attributeType="XML" 
                                        type="rotate"
                                        dur="2s" 
                                        from="0 50 50"
                                        to="360 50 50" 
                                        repeatCount="indefinite" />
                                  </path>
                              </svg>
                          </div>
                      </div>
                      <div class="hidden" id="2faSpinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-secondary" style="background-color: rgb(80, 80, 228); border-color: black; border-width: .5px;">Save changes</button>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            </form><%}%><% if (acc.TFA) {%>
            <form id="tfachange-form" class="border-2 border-black rounded-lg w-fit m-auto p-4">
                <h4 class="align-middle font-bold mb-3">Remove 2FA</h4>
                <div id="error2FA" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                <div class="col-sm-25">
                    <input type="text" class="form-control focus:ring-3 focus:ring-[#5050e4] my-1" id="oauth2" placeholder="Google Authenticator" name="OAuth_vr" autocomplete="off" maxlength="6" required>
                </div>
                <button id="settings2FA-BTN" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit">Confirm</button>
            </form><%}%>
            <div>
              <form id="deleteaccount-form" class="border-2 border-black rounded-lg w-fit m-auto p-4">
                <h4 class="align-middle font-bold mb-3">Delete Account</h4>
                <div id="errorDel" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                <div class="col-sm-25">
                  <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="delSwitch" name="delete_vr" required>
                    <label class="form-check-label" for="delSwitch">Confirm Account Deletion</label>
                  </div>
                </div>
                <button id="delete-BTN" class="btn btn-outline-danger" type="submit">Confirm</button>
            </form>
            </div>
        </div>
    </div><br>
</body>
<script defer>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

$('time').each(function (e) {
    time = parseInt($(this).attr('data-time'));
    time = new Date(time).toLocaleString();
    $(this).html(time);
});

$('#emailchange-form').submit(function (e) {
  e.preventDefault();
  const formData = new URLSearchParams(new FormData(this));

  fetch('/api/v1/account/settings/email', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
    $('#error').text('');
    $('#error').toggleClass(false);
    console.log(w.error);
    if (!w.error) {
      $('#error').text(w.text);
      $('#error').addClass('alert alert-success m-auto my-2 w-fit');
    } else {
      $('#error').text(w.error);
      $('#error').addClass('alert alert-danger m-auto my-2 w-fit');
    }
  }).catch(e => {
    console.log(e);
    window.location.assign('/settings');
  });
});
$('#passchange-form').submit(function (e) {
  e.preventDefault();
  const formData = new URLSearchParams(new FormData(this));

  fetch('/api/v1/account/settings/password', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
    $('#errorP').text('');
    $('#errorP').toggleClass(false);
    console.log(w.error);
    if (!w.error) {
      $('#errorP').text(w.text);
      $('#errorP').addClass('alert alert-success m-auto my-2 w-fit');
    } else {
      $('#errorP').text(w.error);
      $('#errorP').addClass('alert alert-danger m-auto my-2 w-fit');
    }
  }).catch(e => {
    console.log(e);
    window.location.assign('/settings');
  });
});<% if (acc.TFA) {%>
$('#tfachange-form').submit(function (e) {
  e.preventDefault();
  const formData = new URLSearchParams(new FormData(this));

  fetch('/api/v1/account/settings/2fa', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
    $('#error2FA').text('');
    $('#error2FA').toggleClass(false);
    console.log(w.error);
    if (!w.error) {
      $('#error2FA').text(w.text);
      $('#error2FA').addClass('alert alert-success m-auto my-2 w-fit');
    } else {
      $('#error2FA').text(w.error);
      $('#error2FA').addClass('alert alert-danger m-auto my-2 w-fit');
    }
  }).catch(e => {
    console.log(e);
    window.location.assign('/settings');
  });
});<%}%><% if (!acc.TFA) {%>
  $('#2fa-form').submit(function (e) {
  e.preventDefault();
  let dd = document.getElementById('oauth2').value;
  let load4 = document.getElementById('2faLoading');

  load4.setAttribute('class', 'text-black m-auto');
  fetch(`/api/account/verify_auth?code=${dd}`, { method: 'get' }).then((r)=>r.json()).then((b)=>{
    $('#error2fa').text('');
    $('#error2fa').toggleClass(false);
    load4.setAttribute('class', 'hidden');
    if (b.OK) {
        $('#error2fa').text(b.text);
        $('#error2fa').addClass('alert alert-success my-2');
    } else {
        $('#error2fa').text(b.error);
        $('#error2fa').addClass('alert alert-danger my-2');
    }
  });
});<%}%>
$('#deleteaccount-form').submit(function (e) {
  e.preventDefault();
  const formData = new URLSearchParams(new FormData(this));

  fetch('/api/v1/account/settings/delete_account', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
    $('#errorDel').text('');
    $('#errorDel').toggleClass(false);
    console.log(w.error);
    if (!w.error) {
      $('#errorDel').text(w.text);
      $('#errorDel').addClass('alert alert-success m-auto my-2 w-fit');
    } else {
      $('#errorDel').text(w.error);
      $('#errorDel').addClass('alert alert-danger m-auto my-2 w-fit');
      document.getElementById('delSwitch').setAttribute('name', 'delete_hc');
    }
  }).catch(e => {
    console.log(e);
    window.location.assign('/settings');
  });
});
</script>
</html>