<a class="hover:text-current font-bold animate-pulse " href="#" title="#" target="_blank"></a>
<img src="/avatar/<%= view.uuid %>" class="w-[168px] h-[168px] rounded-full border-[2px] border-black mb-2 bg-zinc-300" style="margin: auto; margin-top: -45px;" draggable="false">
<img src="/avatar/<%= view.uuid %>" class="w-[168px] h-[168px] rounded-md border-[2px] border-black mb-2 bg-zinc-300" style="margin: auto; margin-top: -45px;" draggable="false">