<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('meta/index', { title: 'ERROR' }); %>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('meta/nav'); %>
    <h1 class="font-bold text-4xl text-center my-2 mx-2"><%=errorMessage%></h1>
    <div>

    </div>
</body>
</html>