#info {
  margin: auto; 
  margin-top: -3em; 
  max-width: max-content;
  word-break: normal;
  padding: 22px; 
  padding-bottom: .8em;
  box-sizing: border-box;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.gay{
  margin: auto;
  --g-red: #d04b36;
  --g-orange: #e36511;
  --g-yellow: #ffba00;
  --g-green: #00b180;
  --g-blue: #147aab;
  --g-indigo: #675997;
  border: 8px solid;
  border-image: linear-gradient(
    var(--g-red) 0%,
    var(--g-red) 16.6666%,
    var(--g-orange) 16.6666%,
    var(--g-orange) 33.333%,
    var(--g-yellow) 33.333%,
    var(--g-yellow) 50%,
    var(--g-green) 50%,
    var(--g-green) 66.6666%,
    var(--g-blue) 66.6666%,
    var(--g-blue) 83.3333%,
    var(--g-indigo) 83.3333%,
    var(--g-indigo) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.bisexual{
  margin: auto;
  --b-pink: #c1357e;
  --b-purple: #675997;
  --b-blue: #0655a9;
  border: 8px solid;
  border-image: linear-gradient(
      var(--b-pink) 0%,
      var(--b-pink) 40%,
      var(--b-purple) 40%,
      var(--b-purple) 60%,
      var(--b-blue) 60%,
      var(--b-blue) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.trans{
  margin: auto;
  --t-blue: #4fa5c2;
  --t-pink: #f587ac;
  --t-white: #f9fbfc;
  border: 8px solid;
  border-image: linear-gradient(
      var(--t-blue) 0%,
      var(--t-blue) 20%,
      var(--t-pink) 20%,
      var(--t-pink) 40%,
      var(--t-white) 40%,
      var(--t-white) 60%,
      var(--t-pink) 60%,
      var(--t-pink) 80%,
      var(--t-blue) 80%,
      var(--t-blue) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.pan {
  --p-magenta: #fa5e5b;
  --p-yellow: #ffba00;
  --p-blue: #4fa5c2;
  border-image: linear-gradient(
    var(--p-magenta) 0%,
    var(--p-magenta) 33.332%,
    var(--p-yellow) 33.332%,
    var(--p-yellow) 66.667%,
    var(--p-blue) 66.667%,
    var(--p-blue) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.asex {
  --a-black: #222222;
  --a-grey: #a2a2a2;
  --a-white: #f9fbfc;
  --a-purple: #a148a2;
  border-image: linear-gradient(
    var(--a-black) 0%,
    var(--a-black) 20%,
    var(--a-grey) 20%,
    var(--a-grey) 40%,
    var(--a-white) 40%,
    var(--a-white) 60%,
    var(--a-purple) 60%,
    var(--a-purple) 80%,
    var(--a-black) 80%,
    var(--a-black) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.nonb{
  margin: auto;
  --nb-black: #222222;
  --nb-yellow: #f7e45a;
  --nb-white: #f9fbfc;
  --nb-purple: #675997;
  border: 8px solid;
  border-image: linear-gradient(
    var(--nb-yellow) 0%,
    var(--nb-yellow) 25%,
    var(--nb-white) 25%,
    var(--nb-white) 50%,
    var(--nb-purple) 50%,
    var(--nb-purple) 75%,
    var(--nb-black) 75%,
    var(--nb-black) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.queer {
  --q-black: #000000;
  --q-cornflower: #99d9eb;
  --q-azure: #00a2e6;
  --q-lime: #b4e637;
  --q-white: #fff;
  --q-yellow: #ffba00;
  --q-magenta: #fd6666;
  --q-pink: #ffafc8;
  border-image: linear-gradient(
    var(--q-black) 0%,
    var(--q-black) 8%,
    var(--q-cornflower) 8%,
    var(--q-cornflower) 20%,
    var(--q-azure) 20%,
    var(--q-azure) 32%,
    var(--q-lime) 32%,
    var(--q-lime) 44%,
    var(--q-white) 44%,
    var(--q-white) 56%,
    var(--q-yellow) 56%,
    var(--q-yellow) 68%,
    var(--q-magenta) 68%,
    var(--q-magenta) 80%,
    var(--q-pink) 80%,
    var(--q-pink) 92%,
    var(--q-black) 92%,
    var(--q-black) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.gaymen {
  --gaymen-darkgreen: #007c6b;
  --gaymen-palegreen: #40a4a5;
  --gaymen-litegreen: #59c8d2;
  --gaymen-center: #f0efff;
  --gaymen-liteblue: #7aade0;
  --gaymen-paleblue: #0b83c9;
  --gaymen-darkblue: #04336f;
  border-image: linear-gradient(
    var(--gaymen-darkgreen) 0%,
    var(--gaymen-darkgreen) 14.28%,
    var(--gaymen-palegreen) 14.28%,
    var(--gaymen-palegreen) 28.58%,
    var(--gaymen-litegreen) 28.58%,
    var(--gaymen-litegreen) 42.87%,
    var(--gaymen-center) 42.87%,
    var(--gaymen-center) 57.16%,
    var(--gaymen-liteblue) 57.16%,
    var(--gaymen-liteblue) 71.45%,
    var(--gaymen-paleblue) 71.45%,
    var(--gaymen-paleblue) 85.74%,
    var(--gaymen-darkblue) 85.74%,
    var(--gaymen-darkblue) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.gf {
  --gf-pink: #f39ec1;
  --gf-white: #ffffff;
  --gf-purple: #a74a95;
  --gf-black: #000000;
  --gf-blue: #0068b5;
  border-image: linear-gradient(
    var(--gf-pink) 0%,
    var(--gf-pink) 20%,
    var(--gf-white) 20%,
    var(--gf-white) 40%,
    var(--gf-purple) 40%,
    var(--gf-purple) 60%,
    var(--gf-black) 60%,
    var(--gf-black) 80%,
    var(--gf-blue) 80%,
    var(--gf-blue) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.agender {
  --ag-white: #fff;
  --ag-green: #b8f58a;
  --ag-grey: #b9b9b9;
  --ag-black: #000000;
  border-image: linear-gradient(
    var(--ag-black) 0%,
    var(--ag-black) 14.28%,
    var(--ag-grey) 14.28%,
    var(--ag-grey) 28.58%,
    var(--ag-white) 28.58%,
    var(--ag-white) 42.87%,
    var(--ag-green) 42.87%,
    var(--ag-green) 57.16%,
    var(--ag-white) 57.16%,
    var(--ag-white) 71.45%,
    var(--ag-grey) 71.45%,
    var(--ag-grey) 85.74%,
    var(--ag-black) 85.74%,
    var(--ag-black) 100%
  );
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.intersex {
  margin: auto;
  --i-yellow: #ffba00;
  --i-indigo: #675997;
  border: 8px solid;
  border-image: linear-gradient(var(--i-yellow),
      var(--i-yellow) 40%,
      var(--i-indigo) 40%,
      var(--i-indigo) 50%,
      var(--i-yellow) 50%,
      var(--i-yellow) 100%);
  border-image-width: 8x;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.lesbian {
  --lesbian-darkorange: #d82c01;
  --lesbian-paleorange: #f1752c;
  --lesbian-liteorange: #ff985b;
  --lesbian-center: #ffffff;
  --lesbian-litemagenta: #d162a3;
  --lesbian-palemagenta: #b75591;
  --lesbian-darkmagenta: #a60260;
  --lesbian: linear-gradient(
    var(--lesbian-darkorange) 0%,
    var(--lesbian-darkorange) 14.28%,
    var(--lesbian-paleorange) 14.28%,
    var(--lesbian-paleorange) 28.58%,
    var(--lesbian-liteorange) 28.58%,
    var(--lesbian-liteorange) 42.87%,
    var(--lesbian-center) 42.87%,
    var(--lesbian-center) 57.16%,
    var(--lesbian-litemagenta) 57.16%,
    var(--lesbian-litemagenta) 71.45%,
    var(--lesbian-palemagenta) 71.45%,
    var(--lesbian-palemagenta) 85.74%,
    var(--lesbian-darkmagenta) 85.74%,
    var(--lesbian-darkmagenta) 100%
  );
  border-image: var(--lesbian);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.polyamorous {
  margin: auto;
  --polyamorous-yellow: #FFEA6F;
  --polyamorous-blue: #14ABEA;
  --polyamorous-red: #FD2142;
  --polyamorous-black: #181919;
  border: 8px solid;
  border-image: linear-gradient(var(--polyamorous-blue) 0%,
      var(--polyamorous-blue) 40%,
      var(--polyamorous-red) 40%,
      var(--polyamorous-red) 60%,
      var(--polyamorous-black) 60%,
      var(--polyamorous-black) 100%);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.omni {
  --omni-pink: #FF92C5;
  --omni-fuschia: #FF4AB3;
  --omni-violet: #24033C;
  --omni-softindigo: #5855F8;
  --omni-periwinkle: #7B9DFB;
  --omni: linear-gradient(
    var(--omni-pink) 0%,
    var(--omni-pink) 20%,
    var(--omni-fuschia) 20%,
    var(--omni-fuschia) 40%,
    var(--omni-violet) 40%,
    var(--omni-violet) 60%,
    var(--omni-softindigo) 60%,
    var(--omni-softindigo) 80%,
    var(--omni-periwinkle) 80%,
    var(--omni-periwinkle) 100%
  );
  border-image: var(--omni);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.poly {
  --p-magenta: #EA38AA;
  --p-green: #44CC70;
  --p-blue: #2188E8;
  --polysexual-image: linear-gradient(
    var(--p-magenta) 0%,
    var(--p-magenta) 33.332%,
    var(--p-green) 33.332%,
    var(--p-green) 66.667%,
    var(--p-blue) 66.667%,
    var(--p-blue) 100%
  );
  
  border-image: var(--polysexual-image);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.aroace {
  --aroace-gold: #E68222;
  --aroace-yellow: #EEC62D;
  --aroace-white: #fff;
  --aroace-aqua: #49A6D5;
  --aroace-navy: #1C304B;
  --aroace: linear-gradient(
    var(--aroace-gold) 0%,
    var(--aroace-gold) 20%,
    var(--aroace-yellow) 20%,
    var(--aroace-yellow) 40%,
    var(--aroace-white) 40%,
    var(--aroace-white) 60%,
    var(--aroace-aqua) 60%,
    var(--aroace-aqua) 80%,
    var(--aroace-navy) 80%,
    var(--aroace-navy) 100%
  );
  border-image: var(--aroace);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.genderqueer {
  --gq-lavender: #B390D6;
  --gq-white: #fff;
  --gq-olive: #5D8437;
  --genderqueer: linear-gradient(
    var(--gq-lavender) 0%,
    var(--gq-lavender) 33.332%,
    var(--gq-white) 33.332%,
    var(--gq-white) 66.667%,
    var(--gq-olive) 66.667%,
    var(--gq-olive) 100%
  );
  
  border-image: var(--genderqueer);
  border-image-width: 4px;
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.custom01 {
  border-style: solid;
  border-width: 6px;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  background-size: 120% auto;
  
  animation: shine 8s linear infinite;
}

/*Begin shimmer code*/

@keyframes shine {
  to {
    background-position: 200% center;
  }
}