<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../meta/index', { title: 'Help' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <h1 class="font-bold text-4xl text-center my-2 mx-2">Ferret Help Desk</h1>

    <div class="w-fit m-auto p-2 text-center">
        <a class="hover:text-current text-2xl" href="/help/verified">Verified Accounts</a>
        <hr class="w-1/2 m-auto" style="height: 1.5px;">
        <a class="hover:text-current text-2xl" href="/help/suspended-accounts">Suspended Accounts</a>
        <hr class="w-1/2 m-auto" style="height: 2px;">
        <a class="hover:text-current text-2xl" href="/help/rare">Rare Username Badge</a>
    </div>
</body>
</html>