<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <%- include('../meta/index', { title: 'Help - Abandoned Usernames' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white">Abandoned Usernames</h1>
    <div>
        <div class="w-fit m-auto p-3 break-words text-center dark:text-white">
            <h2 class="font-bold text-2xl mb-2 text-center">What is this: </h2>
            <h4>If you notice that a page has been inactive for quite some time, then you can request to claim the abandoned username.</h4>
            <h4>We can determine whether an account meets our criteria once you contact our support team. (<a class="alert-link hover:underline" href="mailto:support@ferret.page">support@ferret.page</a>)</h4>
            <h4></h4>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
            <h2 class="font-bold text-2xl mb-2 text-center">How do I obtain an abandoned username: </h2>
            <h4>First you will need to check our API to make sure that the account is actually inactive.</h4>
            <h4 class="break-all md:break-words">1. Head to <a class="alert-link hover:underline" href="/api/v1/inactive/help" target="_blank">https://ferret.page/api/v1/inactive/:username</a></h4>
            <h4>2. If the account is marked as true then you can pay a one time fee of $8 (USD). I only use PayPal as of right now.</h4>
            <h4>3. Once you have paid the one time fee then I can attach the username to a page.</h4>
            <h4>4. Actively use your page by updating your links when you can.</h4>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
            <h2 class="font-bold text-2xl mb-2 text-center">The catch: </h2>
            <h4>We reserve the right to not release a username for any or no reason at all.</h4>
            <h4>This typically will be used for usernames that include a curse word, or for usernames that are attached to a <a class="alert-link hover:underline" href="/help/verified-accounts">Verified account</a></h4>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
        </div>
    </div><br>
</body>
<script defer>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</html>