<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <%- include('../meta/index', { title: 'Help - Redeem Code' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white">Redeem Code</h1>
    <div>
        <div class="w-fit m-auto p-3 break-words dark:text-white">
            <img class="rounded mb-4 w-fit m-auto" src="/public/i/assets/redeem-code-1.png" draggable="false">
            <h2 class="font-bold text-2xl mb-2 text-center">How do I redeem my code?</h2>
            <h4 class="text-center mt-2">1. Log into your account</h4>
            <h4 class="text-center">2. Head to your <a class="alert-link hover:underline" href="/my/purchases">Purchases</a> tab</h4>
            <h4 class="text-center">3. Scroll to the bottom of the page and enter your Gift code and click redeem</h4>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
            <h2 class="font-bold text-2xl mb-2 text-center"><a class="alert-link hover:underline" href="/help/gift-code">What does a gift code look like?</a></h2>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
            <h2 class="font-bold text-2xl mb-2 text-center">Information: </h2>
            <h4 class="text-center">You can contact our support team if you are having issues with redeeming. <a class="alert-link hover:underline" href="mailto:support@ferret.page">support@ferret.page</a></h4>
            <hr class="w-1/2 m-auto mt-2 mb-2" style="border: solid .5px;">
        </div>
    </div><br>
</body>
<script defer>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</html>